body{
    background-color: black;
}
section{
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 2s;
    
}
.play{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gray;
    border-radius: 42%;
    z-index: 99;
    cursor: pointer;
}
.play img{
    width: 100%;
    height: 100%;
}
section:before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center center;

}
.step1:before{
    background-image: url(../images/voeux2024desktop.png);

}
.step2:before{
    background-image: url(../images/zen.jpeg);
}
.step3:before{
    background-image: url(../images/diamant.jpg);
}
.step4:before{
    background-image: url(../images/happy.jpeg);
}
.step5:before{
    background-image: url(../images/ying.jpeg);
}
.step1{
    opacity: 0;
    transition: all 2s;
}
.stepinner{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;

}
.stepinner h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
 }
.stepinner p{
    font-size: 36px;
    text-align: center;
}

#step1title{
    opacity: 0;
    transition: all 2s;
    position: relative;
    top: -80px;
}
#step1paragraphe{
    opacity: 0;
    transition: all 2s;
    position: relative;
    bottom: -50px; 
}
#step2title{
    opacity: 0;
    transition: all 2s;
    position: relative;
    top: -80px;
}
#step2paragraphe{
    opacity: 0;
    transition: all 2s;
    position: relative;
    bottom: -50px;   
}
#step3title{
    opacity: 0;
    transition: all 2s;
    position: relative;
    top: -80px;
}
#step3paragraphe{
    opacity: 0;
    transition: all 2s;
    position: relative;
    bottom: -50px;   
}
#step4title{
    opacity: 0;
    transition: all 2s;
    position: relative;
    top: -80px;
}
#step4paragraphe{
    opacity: 0;
    transition: all 2s;
    position: relative;
    bottom: -50px;   
}
#step5title{
    opacity: 0;
    transition: all 2s;
    position: relative;
    top: -80px;
}
#step5paragraphe{
    opacity: 0;
    transition: all 2s;
    position: relative;
    bottom: -50px;   
}
@media ( max-width:432px ){
    .stepinner h2{
        font-size: 28px;
    }
    .stepinner p{
        font-size: 23px;
       
    }
}